*{
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.01, 0.47, 1, 1.6);
}
body{
    margin: 0;
    /* padding: 0 8px; */
}
#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    height: 5em;
    width: 5em;
    border: 1em dotted rgba(125, 125, 125, .8);
    border-radius: 50%;
    animation: revolve 1s infinite forwards;

    z-index: 5;
}
header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:  0 0 1px 2px rgba(125, 125, 125, .8);
    min-height: 100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
    flex-wrap: wrap;

    position: sticky;
    top: 0;
}
header>*{flex: 0 0 auto; margin: 5px;}
.logo{
    background-image: url(" https://source.unsplash.com/random?pikachu ");
    background-position: center;
    background-size: cover;
    height: 100%;
    flex-basis: 100px;
}
.logo-text{font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;text-transform: uppercase;text-decoration: wavy;}

header>label{
    display: flex;
    color: red;
    flex-basis: 100px;
}
header>label>*{
    margin: 2px;
}

h1{
    text-align: center;
}

main{
    display: none;
    margin: auto;
    width: 80%;
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    align-items: center;
    text-transform: capitalize;
    padding: 20px;
    border: 2px outset #000;
    border-radius: 10px;

    box-shadow: inset 0 0 5px 20px rgba(255, 0, 0, 1), inset 0 0 0 21px rgba(0, 0, 0, .9);
}

main>*{
    flex: 1 1 300px;
}

#image{
    height: 50vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#basic-details{
    padding: 0 0 3em 3em;
    border: 1em ridge;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    box-shadow: inset 0 0 0 5px rgba(125, 125, 125, .8);
}
#basic-details>h2{
    flex-basis: 100%;
}

.type{
    background-color: rgba(0, 0, 0, .3);
    border-radius: .2em;
    margin: .2em;
    padding: .2em;
}
.know{
    margin-right: 20px;
    text-decoration: none;
    color: hsl(125, 100%, 100%);
    font-weight: 400;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

#more{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.suggestion{
    display: none;
    margin: 10px;
    flex: 0 0 calc(33% - 20px);
    height: 200px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10em;
}
.suggestion .name{
    visibility: hidden;
    transition-duration: 10ms;
}
.suggestion:hover .name{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    visibility: visible;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.name button{
    height: 40px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
    margin: 1em;
    
    font-weight: bolder;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.suggestion:hover, .suggestion:focus{
    transform: scale(1.1);
    border: 5px ridge rgba(0, 0, 0, .2);
}

@keyframes revolve{
    from{
        transform: rotate(1deg);
    }
    to{
        transform: rotate(359deg);
    }
}
